div#mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 0.5rem;
}

nav {
  display: flex;
  padding: 2vh 0.5vw;
  margin-bottom: 2vh;
  background-color: color-mix(in srgb, var(--background-color), #000 30%);
  & > :first-child {
    margin-left: 1.5vw;
  }
  & > :last-child {
    margin-right: 1.5vw;
  }
}

.outlineBtn {
  background: none;
  height: 2rem;
  aspect-ratio: 1;
  transition: 0.1s all;
  cursor: pointer;
  outline: none;
  &:hover {
    box-shadow: inset 0 0 0.5rem var(--highlight-color);
    i {
      text-shadow: 0 0 0.25rem var(--text-color);
    }
  }
  &:active {
    box-shadow: inset 0 0 0.5rem rgba(var(--shadow-color),var(--shadow-opacity-medium));
    i {
      text-shadow: 0 0 0.25rem var(--text-color);
      filter: brightness(1.2);
      color: var(--highlight-color)
    }
  }
  &:focus {
    box-shadow: 0 0 0.5rem rgba(var(--white-shadow-color), var(--shadow-opacity-medium));
  }
  i {
    position: relative;
    pointer-events: none;
    font-size:1rem;
  }
}

button#userButton {
  anchor-name: --user-button;
}

#userMenu {
  position-anchor: --user-button;
  padding: 0;
  flex-direction: column;
  inset: auto;
  top: anchor(bottom);
  left: anchor(right);
  translate: -0.25rem 0.1rem;
  color: var(--text-color);
  border: 2px solid var(--highlight-color);
  border-radius: 10px;
  background-color: color-mix(in srgb, var(--background-color), transparent 30%, #fff 10%);
  backdrop-filter: blur(var(--blur-strength));
  text-align: center;
  &:popover-open {
    display: flex;
  }
  label {
    /* padding-bottom: 0.1rem; */
    border-bottom: 2px solid var(--highlight-color);
    font-weight: 800;
  }
  & > * {
    font-size: 0.75rem;
    place-items: center;
    padding: 0.25rem 2vw;
    border: none;
    border-bottom: 2px solid var(--text-color);
  }
  & > button, & > div {
    font-weight: normal;
    /* cursor: pointer; */
    background: none;
    border-radius: 0;
    &:hover {
      background-color: color-mix(in srgb, var(--background-color), #fff 30%);
    }
  }
  & > :last-child {
    border-bottom: none;
  }
}

.dashModal {
  background: none;
  color: var(--text-color);
  border-radius: 15px;
  border: 3px solid var(--highlight-color);
  padding: 1vh 3vw 1vh 3vw;
  background-color: color-mix(in srgb, var(--background-color), transparent 30%, #fff 10%);
  backdrop-filter: blur(var(--blur-strength));
  top: -10vh;
  &:popover-open {
    display: flex;
    flex-direction: column;
  }
  & * {
    text-align: center;
    display: block;
    margin: 5px auto;
    font-size: 0.75rem;
  }

  & form > :last-child {
    margin-top: 2vh;
    display: flex;
    button {
      display: inline-block;
      flex-grow: 1;
      max-width: 40%;
    }
  }
  &::backdrop {
    backdrop-filter: blur(var(--blur-strength));
    pointer-events: all;
    display: block;
  }
}

.rotate {
  animation-duration: 1s;
  animation-timing-function:cubic-bezier(0.5, 0, 0.175, 1);
  animation-name: rotateOnce;
}
@keyframes rotateOnce {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}

#twitch-embed {
  height: 40vh;
  aspect-ratio: 16 / 9;
}

.text-form-wrapper {
  display: inline-block;
  position: relative;
  height: 2rem;
  width: 80%;
  transition: 0.1s all;

  input[type="text"] {
    border-radius: 1rem;
    width: 100%;
    padding: 0;
    height: 100%;
    padding-right: 2rem;
    box-sizing: border-box;
    justify-content: center;
    text-indent: 2rem;
    &:focus {
      box-shadow: 0 0 0.5rem rgba(var(--white-shadow-color), var(--shadow-opacity-medium));
    }
  }

  input[type="submit"] {
    text-align: left;
    color: var(--text-color);
    background-color: var(--background-color);
    border: 2px solid var(--highlight-color);
    font-size: 0.8rem;
    position: absolute;
    border-radius: 10px 1rem 1rem 10px;
    height: 100%;
    width: 2rem;
    aspect-ratio: 1;
    right: 0;
    &:hover {
      box-shadow: inset 0 0 0.5rem rgba(var(--white-shadow-color),var(--shadow-opacity-light));
    }
    &:active {
      box-shadow: inset 0 0 0.5rem rgba(var(--white-shadow-color),var(--shadow-opacity-medium));
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0.5rem rgba(var(--white-shadow-color), var(--shadow-opacity-heavy));
      &:hover {
        box-shadow: inset 0 0 0.5rem rgba(var(--shadow-color),var(--shadow-opacity-light)), 0 0 0.5rem rgba(var(--white-shadow-color), var(--shadow-opacity-heavy));
      }
      &:active {
        box-shadow: inset 0 0 0.5rem rgba(var(--shadow-color),var(--shadow-opacity-medium)), 0 0 0.5rem rgba(var(--white-shadow-color), var(--shadow-opacity-heavy));
      }
    }
  }
}

.select-wrapper {
  flex-grow: 1;
  padding: 0 0.5rem;
  width: inherit;
  max-width: 100%;
  margin: 0 10vw;
  text-align: center;
  position: relative;
  display: flex;
  padding: 0;
  &.full-width {
    margin: 0 0;
  }
  button {
    margin: 0 0.5vw;
  }
}

#channelDropdown {
  anchor-name: --channelDropdown;
}
#channelList {
  position-anchor: --channelDropdown;
}

#permsDropdown {
  anchor-name: --permsDropdown;
  * > .select-wrapper {
    width: 100%;
  }
}

#permsList {
  position-anchor: --permsDropdown;
}

.custom-select {
  /* Make sure to add anchor-name via ID */
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0;
  text-align: center;
  background: var(--background-color);
  color: var(--text-color);
  border: 2px solid var(--highlight-color);
  padding: 0.2rem 0 0.2rem 0;
  appearance: none;
  outline: none;
  cursor: pointer;
  &:focus {
    box-shadow: 0 0 0.5rem rgba(var(--white-shadow-color), var(--shadow-opacity-medium));
  }
}
.custom-select-list {
  /* Make sure to add position-anchor via ID */
  display: none;
  inset: auto;
  top: anchor(bottom);
  left: anchor(center);
  margin-top: 0;
  color: var(--text-color);
  background-color: color-mix(in srgb, var(--background-color), transparent 30%);
  translate: -50%;
  padding: 0;
  width: calc(anchor-size(width) - 0.8rem);
  border: 2px solid var(--highlight-color);
  border-top: 0;
  border-radius: 0 0 10px 10px;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform ease-in 0.2s;
  backdrop-filter: blur(var(--blur-strength));
  li {
    padding: 0.2rem 0;
    display: block;
    border-top: 1px solid var(--text-color);
    font-weight: normal;
    margin: auto 0;
    &:first-child {
      border-top: 0;
    }
    &:hover {
      font-weight: 600;
      background-color: var(--highlight-color);
      color: var(--alt-text-color);
      cursor: pointer;
      &::after {
        color: var(--alt-text-color);
      }
    }
  }
  &:popover-open { 
    display: flex;
    flex-direction: column;
  }
  @starting-style {
    transform: scaleY(0);
  }
}
.displayPerms::after {
  position: absolute;
  content: attr(permName);
  color: var(--highlight-color);
  margin-left: 0.25rem;
  font-size: 0.65rem;
}